/.dev
/.idea
.git
.gitignore
.history
.vscode
.editorconfig
LICENSE
README.md
CHANGELOG.md
*/*/.DS_Store*
**/.DS_Store*

docker
.dockerignore
Dockerfile*
docker-compose*
!docker/mysql/ssl
!docker/mongodb/ssl
!docker/nginx/configs
!docker/nginx/docker-entrypoint.sh
!docker/php/configs
!docker/php/scheduler
!docker/php/queue
!docker/php/docker-entrypoint.sh

phpunit.xml
Jenkinsfile
vendor
node_modules
coverage
bootstrap/cache/*
storage/app/public/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
