APP_NAME=App
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_LOCALE=en
APP_TIMEZONE=America/Fortaleza
APP_URL=https://your-domain.tld

BROADCAST_DRIVER=redis
CACHE_DRIVER=redis
QUEUE_CONNECTION=redis

DB_CONNECTION=mysql
DB_HOST=database
DB_PORT=3306
DB_DATABASE=app
DB_USERNAME=app
DB_PASSWORD="ExBkhs^NGuA6r_Fu"
DB_PREFIX=

REDIS_HOST=redis
REDIS_CLIENT=phpredis
REDIS_PASSWORD=".7HVhf(Yh+9CF-58"
REDIS_PORT=6379
REDIS_QUEUE=queue_default
REDIS_PREFIX=app_

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS=no-reply@domain.xyz
MAIL_FROM_NAME=
MAIL_ENCRYPTION=null
